

.card {
  width: 100%;
  z-index: -1;
  transition: opacity 1s 0.4s,height  0.5s ease-in-out;
  opacity: 0;
  font-family: "Kaushan Script", cursive;
  position: static;

  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__desc {
    font-size: 2.5vh;

  }

  &__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    transition: opacity 0.3s ease-out;

    &-subtitle {
      font-weight: lighter;
      font-size: 6vw;
      margin: 5px;
    }
    &-title {
      font-size: 6vw;
      margin: 2px;
      &::before {
        content: "“";
      }
      &::after {
        content: "”";
      }
    }

    &-aroma {
      margin: 5px;
      font-size: 5.5vw;
      font-style: italic;
      font-family: Arial,cursive;

    }

    &-price {
      margin: 5px;
      font-size: 5vw;
      &::after {
        content: "₽";
      }
    }
  }

}




@keyframes unfaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}